/* reset code and common code starts here */
:root {
    --primary-color: rgb(11, 181, 48);
    --secondary-color: rgba(36, 112, 55, 0.9);
    --padding: 0.5rem;
    --transition: all 0.3s;
    --border-radius: 0.6rem;
    --box-shadow: 0.1rem 0.2rem 0.8rem rgba(205,
    202,202,0.5);
}
*{
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
}


/* reset code and common code ends here */
